<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <h1 class="d:none">당당 회사정보</h1>
        <dl>
            <dt class="d:none">회사이름</dt>
            <dd class="logo">당당</dd>
            <dt class="d:none">저작권</dt>
            <dd class="copyright">Copyright © 2023 DangDang | All Rights Reserved</dd>
        </dl>
    </footer>
</body> 
</html> 