<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
    <header class="header md:header">
        <div class="header-box">
            <h1 class="d:none">당당</h1>
            <nav class="content-box">
                <ul class="menu">
                    <li><a href="/index"><span class="title">당당</span></a></li>
                    <li><a class="md:d:none icon icon-size:14 icon:menu" id="menuButton" href="#">메뉴</a></li>
                    <li><a class="d:none md:d:flex text-menu" href="/member/eating/daily-intake">식단관리</a></li>
                    <li><a class="d:none md:d:flex text-menu" href="/user/board/list">커뮤니티</a></li>
                    <li><a class="d:none md:d:flex text-menu" href="">문의</a></li>
                    <div class="search-box d:none md:d:flex">
                        <div class="search-container">
                            <form action="/user/product/list-result" method="GET">
                                <input name="keyword" type="text" autocomplete="off" placeholder="당곰이가 건강한 식품을 찾아드려요!"/>
                            </form>
                        </div>  
                    </div> 
                    <li class="d:none md:d:flex"><a class="icon icon-size:13 icon:heart" href="/member/eating/daily-intake">찜목록</a></li>
                    <li><a class="icon icon-size:14 icon:alert" href="">알람</a></li>
                    <li class="d:none md:d:flex"><a class="icon icon-size:14 icon:person" href="/member/index">마이페이지</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>