<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
    <section class="tab-bar">
        <ul class="menu-button">
            <div class="fab-container">
                <button class="fab-main" id="fab-main"></button>
                <button class="fab-item" id="fab-item1"></button>
                <button class="fab-item" id="fab-item2"></button>
                <button class="fab-item" id="fab-item3"></button>
              </div>
            <div class="left-menu-button">
                <li>
                    <a class="icon icon-size:11 icon-tab_home home" href="/">홈버튼</a>
                </li>
                <li>
                    <a class="icon icon-size:11 icon-tab_search search" href="/user/product/list-result">검색버튼</a>
                </li>
            </div>
            <div class="right-menu-button">
                <li>
                    <a class="icon icon-size:11 icon-tab_heart heart" href="">관심상품 버튼</a>
                </li>
                <li>
                    <a class="icon icon-size:11 icon-tab_profile profile" href="/member/index">프로필 버튼</a>
                </li>
            </div>
        </ul>
    </section>
</body>
</html>