<!DOCTYPE html>
<html lang="en" 
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{inc/layout.html}"
   >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="/CSS/components/error.css" rel="stylesheet" type="text/css">
</head>
<body>
<main layout:fragment="main">
   <section class="error-box">
        <div class="img-box d:none">
            <img src="/image/errorpage.png">
        </div>
        <div class="text-box">
            <span class="error-text">
                탈퇴가 완료되었습니다 <br>
                사용하신 아이디는 재가입이 불가능합니다 <br>
                그동안 이용해 주셔서 감사합니다
            </span>
        </div>
    </section>
</main>

</body>
</html>