<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout.html}">

<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
	<link href="/css/components/freeBoard-list.css" rel="stylesheet" type="text/css">
	<link href="/css/components/freeBoard-button.css" rel="stylesheet" type="text/css">
	<link href="/css/components/freeBoard-card.css" rel="stylesheet" type="text/css">
	<link href="/css/components/freeBoard-pager.css" rel="stylesheet" type="text/css">
	<link href="/css/components/reviewstyle.css" rel="stylesheet" type="text/css">
</head>

<body>
	<main layout:fragment="main">
		<span sec:authorize="isAuthenticated()"><input type="hidden" id="sessionId" name="userid" th:value="${#authentication.principal.id}"></span>
		<!-- 게시글 분류버튼  -->
		<div class="main-container">
			<nav class="category-search">
				<ul>
					<li><a class="" href="/member/write">작성 글</a></li>
					<li><a class="" href="">작성 댓글</a></li>
					<li><a class="" href="">추천 글</a></li>
				</ul>
			</nav>
		</div>
		<!-- 게시글 분류버튼 끝 -->
		<!-- 게시글 -->
		
		<section class="card-container empty" th:if="${list.empty}">
		    <p>작성한 글이 없습니다></p>
		</section>
		<section class="card-container" th:each="m : ${list}">
			<h1 class="d:none">게시글</h1>
			<h1 th:text="${m.id}" class="d:none">게시글번호</h1>
			<section class="board-card border-radius:3">
				<h1>
					<a class="card-title heading-4 color:black" th:text="${m.title}"
						th:href="@{/user/board/detail(id=${m.id}, page=${page}, pageSize=${pageSize})}">제목입니다.</a>
				</h1>
				<p class="card-content content-block font-size:2 font-weight:normal" th:text="${m.content}">내용입니다.</p>
				<div class="name-block">
					<span class="color:black font-weight:bold" th:text="${m.userName}">잭더리퍼</span>
				</div>
				<div class="img-block">
					<a href=""><img class="border-radius:4" src="/image/board/돈까스.png"></a>
				</div>
				<div class="chat-block d:flex">
					<img src="/image/icon/board/chat.svg"><span>23</span>
				</div>
				<div class="sub-block d:flex">
					<span th:text="${#dates.format(m.regDate, 'yyyy-MM-dd')}"></span>
					조회수<span th:text="${m.hit}"></span>
					<img src="/image/icon/board/like.svg" class="icon-size:8"><span>2023</span>
				</div>
			</section>

			
			<!-- 게시글 끝 -->
		</section>

		<!-- 글쓰기 버튼 -->
		
		<!-- 페이저 -->
		<div th:each="m : ${ph}" class="paging-container">
			<div class="paging">
				<h1 class="d:none">페이저</h1>
				<th:block th:if="${ph.showPrev}">
					<a class="page pager-link"
						th:href="@{/member/board/list(page=${ph.beginPage-1}, pageSize=${ph.pageSize})}">&lt;</a>
				</th:block>

				<th:block th:each="i : ${#numbers.sequence(ph.beginPage, ph.endPage)}">
					<a class="page pager-link" th:href="@{/member/board/list(page=${i}, pageSize=${ph.pageSize})}"
						th:text="${i}"></a>
				</th:block>

				<th:block th:if="${ph.showNext}">
					<a class="page pager-link "
						th:href="@{/member/board/list(page=${ph.endPage+1}, pageSize=${ph.pageSize})}">&gt;</a>
				</th:block>
			</div>

		</div>
		<!-- 페이저 끝 -->
	</main> <!-- /main -->


</body>

</html>