<!DOCTYPE html>
<html lang="en" 
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{inc/layout.html}"
   >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="/CSS/components/postedit.css" rel="stylesheet" type="text/css">

</head>
<body>
<main layout:fragment="main">
    <section class="post-edit">

        <div class="edit-block">
            <a class="d:block" href="">
                <img src="/review/icon/back-icon.svg" class="back-icon">
            </a>
            <span class="text">게시글 수정</span>
            <a class="d:block" href="">
                <img src="/review/icon/edit-icon.svg" class="write-icon">
            </a>
        </div>
        
        


        <div class="edit-title">
            <textarea class="textarea" placeholder="제목 수정란" rows="1" name="title" maxlength="50"></textarea>
            <span>0/50</span>
        </div>

        <div class="edit-body">
            <textarea class="body-textarea" placeholder="내용 수정란" name="content"></textarea>
            <span>0/400</span>
        </div>

        <div class="pic-upload">
            <label for="fileInput">
              <img src="/review/icon/picup.svg" class="picup">
            </label>
            <input type="file" id="fileInput" style="display: none;">
          </div>
        
     </section>
    
</body>
</html>