<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout.html}"
	>
<head>
	
</head>
<body>
    <section class="wishlist">
        <h1 class="title">관심식품</h1>
        <div class="add">
            <a class="deco icon-add back:transparent open-popup-button" href="#">추가하기</a>
        </div>
        <section class="list">
            <h1 class="d:none">관심식품 목록</h1>
            <ul class="d:flex flex:col gap:2">
                <li>
                    <div class="text-box">
                        <div class="product-name">
                            <a href="">코카콜라 제로</a>
                        </div>
                        <div class="kcal-block">
                            <span>400</span><span>kcal</span>
                        </div>
                    </div>
                    <div class="delete">
                        <button class="icon icon-delete icon-size:12 back:transparent">삭제</button>
                    </div>
                </li>
                <li>
                    <div class="text-box">
                        <div class="product-name">
                            <a href="">코카콜라 제로</a>
                        </div>
                        <div class="kcal-block">
                            <span>400</span><span>kcal</span>
                        </div>
                    </div>
                    <div class="delete">
                        <button class="icon icon-delete icon-size:12 back:transparent">삭제</button>
                    </div>
                </li>
                <li>
                    <div class="text-box">
                        <div class="product-name">
                            <a href="">코카콜라 제로</a>
                        </div>
                        <div class="kcal-block">
                            <span>400</span><span>kcal</span>
                        </div>
                    </div>
                    <div class="delete">
                        <button class="icon icon-delete icon-size:12 back:transparent">삭제</button>
                    </div>
                </li>
                <li>
                    <div class="text-box">
                        <div class="product-name">
                            <a href="">코카콜라 제로</a>
                        </div>
                        <div class="kcal-block">
                            <span>400</span><span>kcal</span>
                        </div>
                    </div>
                    <div class="delete">
                        <button class="icon icon-delete icon-size:12 back:transparent">삭제</button>
                    </div>
                </li>
            </ul>
        </section>
    </section>
</body>
</html>