.nf-diary
    .title{
        font-size: var(--font-size-5);
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.24px;
        color: var(--color-text-1);
        white-space: nowrap;
    }

.nf-diary
    .calendar{
        font-size: var(--font-size-2);
        color: var(--color-text-9);
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.144px;
    }
 
.nf-diary
    .list
        li{
            display: flex;
            flex-direction: column;
            width: 96px;
            height: 130px;
            padding: 12px 12px 18px 12px;
            background-color: var(--color-accent-6);
            border-radius: var(--radius-5);
        }

.nf-diary
    .list
        li:nth-child(3n+2){
            background-color: var(--color-accent-9);
        }

.nf-diary
    .list
        li:nth-child(3n){
            background-color: var(--color-accent-19);
        }

.nf-diary
    .list
        .icon-box{
            width: 44px;
            height: 44px;
            background-color: var(--color-accent-5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: var(--font-size-2);
        }

.nf-diary
    .list
        li:nth-child(3n+2)
            .icon-box{
                background-color: var(--color-accent-8);
            }

.nf-diary
    .list
        li:nth-child(3n)
            .icon-box{
                background-color: var(--color-accent-14);
            }


.nf-diary
    .list
        span{
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0.144px;
            top: 65px;
            font-size: 14px;
        }

.nf-diary
    .list
        .nutrition{
            font-size: 12px;
            color: var(--color-text-2);
            margin-top: 13px;
            margin-bottom: 4px;
            font-weight: bold;
        }

.nf-diary
    .list
        .intake{
            font-size: var(--font-size-3);
            color: var(--color-text-1);
        }
        
.nf-diary
    .list
        .arrow{
            text-align: right;
            position: relative;
            top: -40px;
        }


/*==== layout =======================*/
.nf-diary{
    min-width: 260px;
    max-width: 400px;
    margin: 20px 30px;

}

.nf-diary
    .calendar{
        text-align: right;
        position: relative;
        top: -16px; 
    }

.nf-diary 
    .list 
        ul{
            display: grid;
            grid-template-columns: repeat(6, 120px);
            gap: var(--gap-4-1);
            overflow-x: auto;
        }

@media (min-width: 700px){
.nf-diary{
    margin: 60px auto;
}

.nf-diary
    .calendar{
        top: -20px;
        margin: 0;
    }

.nf-diary 
    .list 
        ul{
            grid-template-columns: repeat(3, 120px);
            gap: var(--gap-5);
            margin: 0;
            overflow-x: initial;
        }
    
}