.health-graph
	.calendar{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		background-color: var(--color-main-1);
		border-radius: var(--radius-4);
		position: relative;
		top: -30px;
		align-self: end;
	}

.health-graph
	.graph-section{
		display: flex;
    	flex-direction: column;
	}
/* ======================== nutri-chart ================================ */

.nutri-info
    .nutri-chart{
        grid-column: 1 /span 4;
        grid-row: 4;
        text-align: center;
    }

.nutri-info
    .nutri-chart
        ul{
            justify-content: space-between;
       }
       
.health-graph  
	.graph-section 
		.nutri-chart
		   	.nutri-detail
		   		a{
				 	display: flex;
				    flex-direction: column;
				    position: relative;
				    bottom: 76px;
			    }

#carb{
    width: 74px !important;
    height: 74px !important;
}
#pro{
    width: 74px !important;
    height: 74px !important;
}
#sugar{
    width: 74px !important;
    height: 74px !important;
}
#etc{
    width: 74px !important;
    height: 74px !important;
}
#fat{
    width: 74px !important;
    height: 74px !important;
}
#na{
    width: 74px !important;
    height: 74px !important;
}
#chol{
    width: 74px !important;
    height: 74px !important;
}
/* ======================== health-graph ================================ */

.health-graph{
    display: flex;
    flex-direction: column;
    min-width: 260px;
    max-width: 400px;
    margin: 0 20px;
}

.health-graph
    h1{
        margin-top: 40px;
        font-weight: bold;
        font-size: var(--font-size-5);
    }

.health-graph
    .chart-inf{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-self: center;
        width: 232px;
        transform: translate(0, -130px);
    }

#kcal {
    width: 222px !important;
    height: 232px !important;
    align-self: center;
    position: relative;
    background-image:url(/image/icon/eating/daily-food/doughnut-background.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-position-y: 45px;
}

/* ======================== graph-inf ================================ */

.health-graph
    .graph-inf {
        display: flex;
	    flex-direction: column;
	    align-items: center;
	    gap: 30px;
    }

@media (min-width: 700px){
/* ======================== md:nutri-info ================================ */

    .nutri-info{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .nutri-info 
        .nutri-chart ul{
            width: 290px;
            flex-wrap: wrap;
        }
/* ======================== md:health-graph ================================ */
    .health-graph{
	    margin: 0 auto;
	    width: 400px;
    }
    
    .health-graph
    	h1{
			width: 90%;
		}
}