<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link href="https://webfontworld.github.io/designhouse/DesignHouse.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/button.css" rel="stylesheet" type="text/css">
    <link href="/css/util/form.css" rel="stylesheet" type="text/css">
    <link href="/css/util/box.css" rel="stylesheet" type="text/css">
    <link href="/css/util/layout.css" rel="stylesheet" type="text/css">
    <link href="/css/util/content.css" rel="stylesheet" type="text/css">
    <link href="findPwd.css" rel="stylesheet" type="text/css">
</head>

<body>
    <section class="findPwd-box ph:29 d:flex flex:col align-items:center justify-content:center">
        <h1 class="d:flex align-items:center font-weight:bold font-size:8 color:text-1">비밀번호 찾기</h1>
        <div>
            <img src="/image/findPwd/findPwd.png" alt="비밀번호 찾기 이미지">
        </div>
        <p class="text-align:center mt:40 mb:40 font-weight:bold">입력하신 메일로 인증번호를 발송하였습니다 <br> 인증번호를 입력해주세요</p>
        <form action="" method="post">
            <fieldset>
                <legend class="d:none">아이디/비밀번호 찾기 페이지</legend>
                <div class="form-box d:flex">
                    <div class="input-data">
                        <input class="text-align:center" id="uemail" class="input-box" type="number" name="auth-num" autocomplete="off" required />
                        <div class="underline"></div>
                        <label for="uemail">인증번호 6자리</label>
                        <div class="btn-box d:flex justify-content:center">
                            <button class="btn btn-request mt:18 font-weight:bold" type="submit">재전송</button>
                        </div>
                    </div>  
                </div>
                <div class="select-box w:166 m:auto d:flex justify-content:space-between pt:115">
                    <button class="btn btn-choice font-weight:bold" type="submit">찾기</button>
                    <button class="btn btn-cancel font-weight:bold bg-color:base-0" type="submit">취소</button>
                </div>
            </fieldset>
        </form>
    </section>
</body>

</html>