<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link href="https://webfontworld.github.io/designhouse/DesignHouse.css" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="header.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="header md:header">
        <div class="header-box">
            <h1 class="d:none">당당</h1>
            <nav class="content-box">
                <ul class="menu">
                    <li><span class="title">당당</span></li>
                    <li><a class="md:d:none icon icon-size:14 icon:menu" href="">메뉴</a></li>
                    <li><a class="d:none md:d:flex text-menu" href="">건강관리</a></li>
                    <li><a class="d:none md:d:flex text-menu" href="">커뮤니티</a></li>
                    <li><a class="d:none md:d:flex text-menu" href="">문의</a></li>
                    <div class="search-box d:none md:d:flex">
                        <div class="search-container">
                            <form action="">
                                <input name="search-bar" autocomplete="off" placeholder="당곰이가 건강한 식품을 찾아드려요!"/>
                            </form>
                        </div>  
                    </div> 
                    <li class="d:none md:d:flex"><a class="icon icon-size:13 icon:heart" href="">찜목록</a></li>
                    <li><a class="icon icon-size:14 icon:alert" href="">알람</a></li>
                    <li class="d:none md:d:flex"><a class="icon icon-size:14 icon:person" href="">마이페이지</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>