.newPwd-box
    .title{
        display: flex;
        align-items: center;
        width: 335px;
        height: 132px;
        font-weight: bold;
        font-size: var(--font-size-7);
        color: var(--color-text-1)
    }
    
.newPwd-box
    .errorBox{
        display: flex;
        justify-content: flex-end;
        margin-top: 6px;
    }
        
.newPwd-box
    .deco{
        align-items: center;
        margin-top: auto;
    }
        
.newPwd-box
    .errorText{
        color: var(--color-accent-12);
        font-size: var(--font-size-2);
        margin-top: 5px;
        margin-right: 8px;
        display: none;
    }