<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새로운 비밀번호 설정</title>
    <link href="https://webfontworld.github.io/designhouse/DesignHouse.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/root.css" rel="stylesheet" type="text/css">
    <link href="/css/util.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/icon.css" rel="stylesheet" type="text/css">
    <link href="/css/button.css" rel="stylesheet" type="text/css">
    <link href="/css/util/form.css" rel="stylesheet" type="text/css">
    <link href="/css/util/box.css" rel="stylesheet" type="text/css">
    <link href="/css/util/layout.css" rel="stylesheet" type="text/css">
    <link href="/css/util/content.css" rel="stylesheet" type="text/css">
</head>

<body>
    <section class="findPwd-box ph:29 d:flex flex:col align-items:center justify-content:center">
        <h1 class="d:flex align-items:center font-weight:bold font-size:8 color:text-1 mb:107">새로운 비밀번호 설정</h1>
        <form action="" method="post" class="">
            <fieldset>
                <legend class="d:none">새로운 비밀번호 설정</legend>
                <div class="form-box mb:60">
                    <div class="input-data">
                        <input id="pwd" class="input-box" type="password" name="user-pwd" autocomplete="off" required />
                        <div class="underline"></div>
                        <label for="pwd">기존 비밀번호</label>
                    </div>  
                </div>
                <div class="form-box">
                    <div class="input-data">
                        <input id="pwd" class="input-box" type="password" name="user-pwd" autocomplete="off" required />
                        <div class="underline"></div>
                        <label for="pwd">새로운 비밀번호</label>
                    </div>  
                </div>
                <div class="select-box w:166 m:auto d:flex justify-content:space-between pt:115">
                    <button class="btn btn-choice" type="submit">수정</button>
                    <button class="btn btn-cancel" type="submit">취소</button>
                </div>
            </fieldset>
        </form>
    </section>
</body>

</html>