.pager {
    display: flex;
    overflow-x: auto;
}
.pager-inner {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.pager-inner > *:last-child {
    margin-right: 0;
}
.page-item {
    margin-right: 15px;
}
.pager-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    /* border: 1px solid currentColor; */
    color: blue;
    text-decoration: none;
    transition: .25s;
}
.pager-link:focus,
.pager-link:hover {
    background-color: blue;
    color: #fff;
    opacity: .75;
}
.pager-link\:active {
    background-color: blue;
    color: #fff;
    pointer-events: none;
}